<div class='top-container'>
  <div class='row'>
    <div class='d-flex justify-content-evenly'>
    <div class=" balloon border border-5 rounded-pill fs-4">言いたいことがありすぎて<br>まとまらない</div>
    <div class="balloon border border-5 rounded-pill fs-4">よく相手から「何が言いたいの？」<br>と言われてしまう</div>
    <div class="balloon border border-5 rounded-pill fs-4">毎回話すことを整理して<br>まとめるのが面倒</div>
    </div>
    <div class="text-center mx-auto">
      <h1 class="bg-light bg-gradient py-2">伝えたいことが空回りしてしまうあなたへ</h1>
      <h3 class='py-3'>ONE MINUTE TALKは思考を整理し、話したいことを1分間で相手に伝えられるアプリです</h3>
    </div>
    <div class="container mb-5">
      <div class="row gap-3">
        <div class="col-sm border border-4">
          <h3 class='text-center'>メモ作成</h3>
          <p>ユーザーは4つの項目を入力することで自身の考えを整理し、それをメモとして登録することでミーティング前などいつでも内容を振り返ることができます。</p>
          <div class='text-center'>画像</div>
        </div>
        <div class="col-sm border border-4">
          <h3 class='text-center'>自分の考えを可視化できる</h3>
          <p>ピラミッドストラクチャーを使って情報を可視化することができます。</p>
          <div class='text-center'>画像</div>
          <div class="text-center py-2">
            <button type="button" id="open" class="btn btn-info">ピラミッドストラクチャとは</button>
          </div>
          <section id="modal">
            <p>ピラミッドストラクチャーとは、ロジカルシンキングの一つで、主にコミュニケーション（自分の主張とその根拠を示す）が目的のフレームワークです。<br>
            ピラミッド上に主張と根拠を並べていくため、ピラミッドストラクチャーとよばれています。</p>
            <div class="text-center">
              <button id="close">閉じる</button>
            </div>
          </section>
          <div id="mask"></div>
        </div>
        <div class="col-sm border border-4">
          <h3 class='text-center'>例文を自動生成</h3>
          <p>作成したメモ内容から１分以内で話すことができる例文が自動作成されます。<br>作成された例文は編集することができます。</p>
          <div class='text-center'>画像</div>
        </div>
      </div>
    </div>
  </div>
<div>