<p>こんにちは<%= @event.user.name %>様</p>

<p>明日は以下の予定がありますので、お知らせいたします。</p><br>

<h2><%= @event.memo.title %></h2><br>

<h3>例文</h3><br>
<p><%= @event.memo.example.sentence %></p><br>

<p>
  <span>●開始予定日時：<%= @event.start_at.strftime('%Y/%m/%d %H:%M') %></span><br>
</p>