<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary d-flex">
    <%= render 'shared/slidebar' %>
    <div class="d-flex justify-content-between w-100 ms-2">
      <%= link_to 'ONE MINUTE TALK', memos_path, class: "navbar-brand" %>
      <div class="d-flex gap-2 me-2">
        <button type="button" id="open" class="btn btn-secondary">マイページ</button>
        <%= link_to '新規作成', login_path, class: "sign_in btn btn-secondary" %>
      </div>
    </div>
  </nav>
  <%= render 'shared/mypage' %>
</header>