<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary pt-2">
    <%= render 'memos/slidebar/slidebar', memos: @memos %>
    <%= link_to 'ONE MINUTE TALK', root_path, class: "navbar-brand mx-auto" %>
    <%= link_to 'メモ一覧', memos_path, class: "btn btn-secondary me-2 d-none d-sm-block" %>
    <button type="button" id="open" class="btn btn-secondary me-1">マイページ</button>
  </nav>
  <%= render 'shared/mypage' %>
</header>