<header>
  <nav class="navbar navbar-expand-lg bg-body-secondary py-2 d-flex justify-content-between">
      <%= link_to 'OneMinuteTalk', root_path, class: "navbar-brand fw-medium mx-auto ms-2" %>
      <div class='d-flex'>
        <%= link_to t('defaults.user_new'), new_user_path, class: "me-2 btn btn-outline-danger" %>
        <%= link_to t('defaults.login'), login_path, class: "me-2 btn btn-outline-primary" %>
        <%= link_to 'Login with Google', auth_at_provider_path(provider: :google), class: "me-2 btn btn-outline-primary" %>
      </div>
  </nav>
</header>