<footer>
  <div class="bg-body-tertiary py-3 text-center">
    <%= link_to '利用規約', static_pages_terms_path %>
    <%= link_to 'プライバシーポリシー', static_pages_privacy_policy_path %>
    <div class="mt-1">© 2024 ONE MINUTE TALK</div>
  </div>
</footer>
