<footer class="bg-body-tertiary bottom-0">
  <div class="text-center py-3">
    <%= link_to '利用規約', static_pages_terms_path, class: "px-1" %>
    <%= link_to 'プライバシーポリシー', static_pages_privacy_policy_path %>
    <div class="pt-1">© 2024 ONE MINUTE TALK</div>
  </div>
</footer>
