<div class="ms-2">
  <button id='menu-open'><span class="navbar-toggler-icon"></span></button>
  <div id='menu-panel' class='bg-body-tertiary'>
    <button id='menu-close' class='m-2'><span class="btn-close"></span></button>
    <ul class='menu-list'>
      <li>リスト</li>
      <li>リスト</li>
      <li>リスト</li>
    </ul>
  </div>
</div>
