.memo-container {
  background-image: url(paper.jpg);
  background-size: cover;
  background-position: center;
  font-family: 'Zen Kurenaido', sans-serif;
}

.yellow-marker {
  display: inline-block;
  background: linear-gradient(transparent 60%, #ffffcc 0%);
}

.red-marker {
  display: inline-block;
  background: linear-gradient(transparent 50%, #ffcccc 0%);
}

.blue-marker {
  display: inline-block;
  background:linear-gradient(transparent 50%, #ccffff 0%);
}

.thinker {
  width: 250px;
  height: 250px;
}

.thinking-balloon {
  width: 75%;
  position: relative;
  margin: 2em 0 2em 40px;
  padding: 15px;
  background: #fff0c6;
  border-radius: 30px;
}

.thinking-balloon:before {  
  content: "";
  position: absolute;
  left: 100px;
  width: 13px;
  height: 12px;
  bottom: -33px;
  background: #fff0c6;
  border-radius: 50%;
}

.thinking-balloon:after {
  content: "";
  position: absolute;
  left: 112px;
  width: 20px;
  height: 18px;
  bottom: -23px;
  background: #fff0c6;
  border-radius: 50%;
}
.thinking-balloon div {
  margin: 0; 
  padding: 0;
}

.next-button {
  background-color: #6fa1ff;
  padding: 8px 24px;
  border-radius: 100px;
}

.example-button {
  background-color: rgb(255, 149, 168);
  padding: 8px 16px;
  border-radius: 100px;
  margin-top: 40px;
}