.top-container {
  width: 100%;
  height: 100vh;
  background-image: url(top.jpg);
  background-size: cover;
  background-color:rgba(255,255,255,0.5);
  background-blend-mode:lighten;
}

.balloon {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius: 15px;
}

.balloon:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #e0edff;
}

// モーダル
#open,
#close {
  cursor: pointer;
}

#mask {
  background: rgba(0, 0, 0, .6);
  position: fixed;
  inset: 0;
  z-index: 9998;
  opacity: 0;
  visibility: hidden;
}

#modal {
  background: #fff;
  max-width: 36rem;
  padding: 2rem;
  border-radius: .5rem;
  position: absolute;
  inset: 10rem 0 auto;
  margin: auto;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
}