<div class="container-fluid">
  <div class="row">
    <div class="text-center col">
      <%= form_with url: explanations_element_path, local: true do |f| %>
        <div class="my-5">
          <h3>あなたが伝えたいこと</h3>
          <p>例：部署にAIを導入するべき</p>
          <div class="container">
            <%= f.text_field :title, id: 'title-form', class: 'form-control w-50 mx-auto' %>
          </div>
        </div>
        <div class="my-5">
          <h3>伝えたい理由を書き出してみましょう</h3>
          <p>例：人員削減になる</p>
          <div id="element-container">
            <%= f.text_field :element_1, id: "element-form", class: 'form-control w-50 mx-auto' %>
          </div>
          <div id="add-button" class="mt-3 btn btn-secondary">入力フォームを追加</div>
        </div>
        <%= f.submit "次へ" %>
      <% end %>
    </div>
  </div>
</div>